flask
flask-socketio
python-socketio
python-engineio
opencv-python-headless
ultralytics
numpy
torch
torchvision
python-dotenv
mediapipe
Flask-SQLAlchemy
Flask-Login
Werkzeug
scipy
python-dateutil
twilio
deepface
tf-keras
gunicorn
eventlet